.articleWrapper { 
	border: 1px solid #808080; 
}
.article {
	margin: 15px;
	text-align: left;
}
.article-head {
	border-bottom: 2px solid $primaryColorDeep;
	padding-bottom: 12px;
	h2 {
		font-size: 26px;
		line-height: 135%;
		color: $primaryColorDeep;
		margin: 10px 0;
	}
	a {
		&:link, &:visited { color: #6D6D6D; }
		&:hover { color: $linkText; }
	}
	.info {
		margin-top: 10px;
		color: #6D6D6D;
		font-size: 14px; 
	}
	.fbbox {
		float: right;
		overflow: hidden;
		width: 84px;
		position: relative;
		bottom: 2px;
	}
}
.tags {
	overflow: hidden;
	.fa-tag {
		color: #6D6D6D; 
		margin-right: 2px;
		font-size: 16px; 
	}
	i, ul { float: left; }
	ul {
		li {
			display: inline-block;
			margin: 0 5px;
			font-size: 14px;
		}
	}
}
article {
	margin-top: 15px;
	margin-bottom: 15px;
}
.article-info {
	font-size: 14px;
	color: #808080;
}
.articleShareBox {
	.title {
		display: inline-block;
		width: 40px;
		line-height: 20px;
		margin-bottom: 15px;
	}
	position: absolute;
	top: 337px;
	margin-left: -390px;
	// float: left;
	// // position: relative;
	// margin-left: -71px;
	// margin-left: -75px;

	background: $primaryColorShallow;
	display: inline-block;
	width: 65px;
	padding: 10px 2px;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-bottom: 1px solid #808080;
}