.btn {
	display: inline-block;
}
.btn-fbshare {
	&:visited, &:link {
		background: #4964B5;
		color: #fff;
	}
	&:hover {
		background: #7F92CB;
	}
	&:active { background: #364984; }
}
.btn-lineshare {
	&:visited, &:link {
		background: #00C300;
		color: #fff;
		font-size: 15px;
	}
	&:hover {
		background: #07F507;
	}
	&:active { background: #3B7303; }
}
.btn-primary {
	&:link, &:visited {
		background: $submitBtn;
		color: #fff;
		border-radius: 6px;
		box-shadow: 1px 1px 2px #ccc;
	}
	&:hover { background: $submitBtnOn; }
	&:active { position: relative; top: 1px; }
}
.btn-default {
	&:link, &:visited {
		background: #555;
		color: #fff;
		border-radius: 6px;
		box-shadow: 1px 1px 2px #ccc;
	}
	&:hover { background: #3C3C3C; }
	&:active { position: relative; top: 1px; }
}
.btn-secondary {
	&:link, &:visited {
		background: $primaryColorDeep;
		color: #fff;
		border-radius: 6px;
		box-shadow: 1px 1px 2px #ccc;
	}
	&:hover {
		background: $primaryColor;
	}
}
.btn-md {
	line-height: 32px;
	font-size: 20px;
	padding: 5px 20px;
}
.btn-large {
	padding: 0 20px;
	border-radius: 5px;
	font-size: 22px;
	line-height:52px;
}
.btn-xlarge {
	padding: 0 35px;
	border-radius: 5px;
	font-size: 28px;
	line-height: 56px;
}
.pager {
	overflow: hidden;
	li {
		display: inline-block;
		a {
			line-height: 45px;
			padding: 0 20px;
			border-radius: 10px;
			font-size: 16px;
			&:link, &:visited {
				color: #fff;
				background: $primaryColorDeep;
			}
			&:hover, &:active {
				background: $primaryColor;
			}
		}
		&.prev {
			float: left;
		}
		&.next {
			float: right;
		}
	}
}

.fbreg{
	background: url(../img/btn_fbreg.png) no-repeat;
	width: 248px;
	height: 39px;
	&:hover { background-position: 0 -39px; }	
}
.atcSupply {
	&:link, &:visited {
		background: #F6C2C6; 
		color: #A02D3A;
		padding: 2px 5px;
	}
	&:hover {
		background: #D51C0F;
		color: #fff;
	}
	
}

.btn-shareIcon {
	width: 67px;
	height: 67px;
	margin-top: 15px;
	border: none;
	&.line {
		background: url(../img/icon_line.jpg) no-repeat;
		margin-right: 10px;
		&:hover {
			background-position: 0 -67px;
		}
	}
	&.facebook {
		background: url(../img/icon_facebook.jpg) no-repeat;
		&:hover {
			background-position: 0 -67px;
		}
	}
}