// This scss contains classes in footer

footer {
	z-index: 0;
	background: #404040;
	border-top: 5px solid $primaryColor;
	p {
		color: #ccc;
		font-size: 14px;
		padding-top: 10px; 
		padding-bottom: 30px;
		line-height: 25px;
		a {
			&:link, &:visited { 
				color: #ccc;
				margin-right: 6px;
				text-decoration: underline;
			}
			&:hover { color: $linkText; }
		}
		span {
			font-family: Verdana, Geneva, sans-serif;
		}
	}
}