select, textarea, input[type=text] {
	border: 1px solid #555;
	font-size: 16px;
	line-height: 20px;
	padding: 3px 5px;
	&:focus { outline: none; }
}

.form-field {
	text-align: left;
	padding: 5px 0;
	button {
		margin: 5px 0;
	}
}
.form-btns {
	text-align: left;
	margin: 10px 0 20px 0;
}
