.myForm {
	h3 {
		font-size: 30px;
		padding: 15px 0;
	}
	label {
		float: left;
		width: 120px;
		text-align: right;
		&.lower {
			position: relative;
			top: 5px;
		}
	}
	.form-field {
		padding: 10px 0;
		vertical-align: text-top;
	}
	.text {
		width: 380px;
		// height: 25px;
		@extend .text-overflow;
		a {
			padding: 0 5px;
			i { color: green; }
			&.lower {
				position: relative;
				top: 5px;
			}
			&.btn {
				padding: 5px 15px;
				background: $primaryColorShallow;
			}
		}
		&.wid-800 { width: 800px; }
	}
}

select, textarea, input[type=text] {
	border: 1px solid #555;
	font-size: 16px;
	line-height: 20px;
	padding: 3px 5px;
	&:focus { outline: none; }
}

.form-field {
	text-align: left;
	padding: 5px 0;
	button {
		margin: 5px 0;
	}
}
.form-btns {
	text-align: center;
	margin: 10px 0 20px 0;
}
