// This scss contains classes that show all over the website
// CAN apear for MORE THAN ONCE
// EX: normal text link, tabs...

h2 {
	font-size: 28px;
	line-height: 135%;
	color: #e25700;
	margin: 10px 0;
}

a:link, a:visited { cursor: pointer; color: #000; text-decoration: none; }
a:hover {  color: $linkText; } 
p {
	font-size: 16px;
	line-height: 26px;
	&:not(:first-child) { margin-bottom: 10px; }
}
.bordered {
	border: 1px solid #808080;
}
.ovh {
	overflow: hidden;
}
.line {
	display: block;
	height: 2px;
	border-bottom: 2px  solid #828282;
}
.wid-800 { width: 800px; }
.wid-500 { width: 500px; }
.wid-400 { width: 400px; }
.wid-300 { width: 300px; }
.wid-200 { width: 200px; }
.wid-150 { width: 150px; }
.alert-box { 
	background: #F6C2C6; 
	color: #A02D3A;
	padding: 5px;
	text-align: center;
}
.info-box {
	background: $primaryColorShallow;
	padding: 10px;
}
.bold { font-weight: bold; }
.red {  color: #D51C0F; }
.fs-16 { font-size: 16px; }
.fs-18 { font-size: 18px; }
.link { 
	&:link, &:visited { text-decoration: underline; color: $linkText; }
	&:hover { color: $linkTextOn; }
}