// This scss contains classes that show all over the website
// CAN apear for MORE THAN ONCE
// EX: normal text link, tabs...

a:link, a:visited { cursor: pointer; color: #000; text-decoration: none; }
a:hover {  color: $linkText; } 
p {
	font-size: 16px;
	line-height: 26px;
	&:not(:first-child) { margin-bottom: 10px; }
}
.bordered {
	border: 1px solid #808080;
}
.ovh {
	overflow: hidden;
}
.line {
	display: block;
	height: 2px;
	border-bottom: 2px  solid #ccc;
}
.wid-800 { width: 800px; }
.wid-500 { width: 500px; }
.wid-400 { width: 400px; }
.wid-200 { width: 200px; }
