// This scss contains classes that show all over the website
// CAN apear for MORE THAN ONCE
// EX: normal text link, tabs...

a:link, a:visited { color: #000; text-decoration: none; }
a:hover {  color: $linkText; } 
p {
	font-size: 16px;
	line-height: 26px;
	&:not(:first-child) { margin-bottom: 10px; }
}



