// This scss contains classes that decide how elements are deployed on the page
// CAN apear for MORE THAN ONCE
// EX: widget's padding/margin attributes

header + .adbox-fw { 
	margin: 20px 0;
}

.indexMain, .articleMain {
	.adbox-300 {
		width: 300px;
		margin-top: 20px;
		margin-bottom: 20px;
		&:first-child { margin-top: 0px; }
	}
	.rank-list {
		border: 1px solid #808080;
	}
}

.adbox-inMain-300 {
	text-align: left;
	margin-top: 20px;
	img:first-of-type {
		margin-right: 36px;
	}
}
.articleMain {
	overflow: hidden;
}
.memberPanel {
	.tabsbox-content{
		margin-bottom: 50px;
	}
}

.newPostEditor {
	overflow: hidden;
	min-height: 660px;
}
.newPostEditor-leftcol, .newPostEditor-rightcol { float: left; }
.newPostEditor-leftcol { 
	width: 200px; 
	margin: 15px;
}
.newPostEditor-rightcol {
	margin-top: 15px;
}