// This scss contains classes that deifine list elements' appearance

.media-blocks {
	overflow: hidden;
	padding: 12px 10px;
	text-align: left;
	// border: 1px solid #808080;
	li {
		display: inline-block;
		width: 50%;
		vertical-align: text-top;
		margin-bottom: 15px;
		a > div {
			margin: 0 5px;
		}
		h3 {
			display: block;
			margin: 0 auto;
			text-align: left;
			font-size: 16px;
			line-height: 145%;
			padding-top: 10px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}
.ranklist {
	text-align: left;
	border: 1px solid #808080;
	padding: 10px 15px;
	.rank-number {
		display: inline-block;
		background: url(../img/ranknumber_bg.png) no-repeat;
		width: 17px; height: 16px;
		position: relative;
		bottom: 5px;
		margin-right: 4px;
		font-size: 0.6em;
		text-align: center;
		span {
			position: relative;
			top: 2px;
		}
	}
	li {
		@extend .text-overflow;
		a {
			font-size: 1em;
			line-height: 32px;
		}
	}
	&.ranklist-col2 {
		background: $primaryColorShallow;
		border: none;
		float: left;
		padding: 10px 8px;
		width: 300px;
	}
}
.pages {
	li {
		display: inline-block;
		a {
			font-size: 14px;
			display: inline-block;
			padding: 3px 10px;
			i {
				position: relative;
				bottom: 2px;
				margin-left: 5px;
			}
		}
		&:not(:last-child) {
			border-right: 1px solid #555;
		}
		&.next {
			a { 
				background: #eee;
			}
		}
	}
}