.black-mode {
  background: #000; 
  position: absolute;
  top: 0px;
  height: 0px;
  opacity: 0.7; 
  overflow: hidden;
  z-index: 100;
  -moz-opacity: 0.70;
  filter: alpha(opacity=70);
}

.keroslightbox {
  display: none; 
  text-align: center; 
  z-index: 101;
  width: 100%;
  box-shadow: 2px 2px 4px #555;
}
.keroslightbox .box {
  margin: 0 auto;
  position: absolute; 
  z-index: 9999; 
  height: 0px; 
  padding: 20px;
  background: #e2e2e2;

  .close {
    overflow: hidden;
    float: right; 
    cursor: pointer; 
    display: inline-block; 
    margin: 10px 10px 0 0; 
    width: 24px;
    height: 0px;
    background: url(../img/btn_close.png) no-repeat;
    &:hover {
      background-position: 0 -24px;
    }
  }

  .inner-box{
    background: #fff; padding: 20px;
  }
}

.popup {
  font-family: "microsoft jhenghei";
  h3 {
    font-size: 24px;
    font-weight: bold;
    color: $primaryColor;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid $primaryColor;
  }
  h4 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &.login {
    .alert-box {
      display: inline-block;
    }
  }
}