.mytable {
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #555;
	font-size: 16px;
	line-height: 30px;

	thead {
		tr {
			line-height: 40px;
			background: #eee;
			font-weight: bold;
		}
	}
	tbody {
		td {
			padding: 3px 0px;
			border-bottom: 1px solid #808080;
		}
	}
	.title {
		text-align: left;
		width: 500px;
		@extend .text-overflow;
	}
}