.text-center {
	text-align: center;
	> * { margin: 0 auto; }
}

.text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.margin-top { margin-top: 20px; }
.margin-btm { margin-bottom: 20px; }
.margin-tb {
	margin-top: 20px;
	margin-bottom: 20px;
}