.text-center {
	text-align: center;
	> * { margin: 0 auto; }
}
.text-right { text-align: right; }

.text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.margin-tpsm { margin-top: 10px; }
.margin-top { margin-top: 20px; }
.margin-btm { margin-bottom: 20px; }
.margin-tb {
	margin-top: 20px;
	margin-bottom: 20px;
}
.padding-btm { padding-bottom: 20px; }

.pull-right { float: right; }

h3.title {
	text-align: left;
	font-size: 20px;
	color: $primaryColorDeep;
	background: $primaryColorShallow;
	padding: 5px 10px;
	margin-bottom: 15px;
	i { margin-right: 5px; }
}