.tabsbox {

}
.tabsbox-nav {
	z-index: 1;
	position: relative;
	top: 1px;
	li {
		div {
			overflow: hidden;
			border-top: 1px solid #808080;
			border-left: 1px solid #808080;
			border-right: 1px solid #808080;
		}
		&.active { height: 41px; }
	}
}
.tabsbox-content {
	width: 100%;
	z-index: -1;
}
.fb-like-box {
	width: 100% !important;
	padding-bottom: 15px;
	> span {
		width: 100% !important;
		height: 232px !important;
		border-bottom: 1px solid #ccc;
		overflow: hidden;
		iframe {
			width: 100% !important;
		}
	}
}