@media screen and (max-width: 561px) {

.indexMain, .listMain{
	.media-blocks li{
		width: 100%;
		margin-bottom: 10px;
	}
}

.hidden-sm { display: none; }
.article {
	margin: 5px;
}
.article {
	h2 { font-size: 20px; }
}

.btn-large {
	line-height:45px;
	border-radius: 5px;
	font-size: 16px;
	display: block;
}

.myForm.report {
	.text { width: 100%; }
	.form-field {
		text-align: center;
		padding: 5px 0;
		> * { margin: 0 auto; }
		label {
			display: block;
			position: static;
			width: 100%;
			text-align: center;
			line-height: 35px;
		}
	}
	.reportText {
		width: 250px;
	}
}

}

@media screen and (max-width: 381px) {

h3.title {
	font-size: 18px;
}
.adbox-inMain-300 {
	img {
		width: 100%;
	}
}
.anotherLogo {
	img {
		width:90%;
		height: auto;
	}
}

.myForm.report .reportText {
	width: 200px;
}

} /* max 381px end */