.mytable {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #555;
	font-size: 16px;
	line-height: 30px;

	thead {
		tr {
			background: $primaryColorShallow;
			font-weight: bold;
			border-bottom: 1px solid #808080;
		}
		th { padding: 8px 0px; }
	}
	tbody {
		td {
			border-bottom: 1px solid #808080;
			padding: 5px 0;
		}
	}
	th, td {
		vertical-align: middle;
		line-height: 135%;
		&:not(:last-child){
			border-right: 1px solid #808080;
		}
	}
	.title {
		text-align: left;
		width: 500px;
		@extend .text-overflow;
	}
}