// variables ONLY here
// when changed, scss where variables exsit must change as well

$primaryColor: #FFB301;
$primaryColorShallow: #FFFCBC;
$primaryColorDeep: #E25700;
$linkText: #2A7FFF;
$linkTextOn: #043B8E;

$submitBtn: #53A600;
$submitBtnOn: #3B7303;