@media screen and (min-width:769px) {

.hidden-big { display: none; }
}

@media screen and (max-width:768px) {

.hidden-md { display: none; }
.wrapper {
	width: 100%;
	overflow: hidden;
}
.breadcrumb-head {
	background: url(../img/breadcrumb_head_m.png) no-repeat;
	background-position: 0 5px;
}
.breadcrumb-links p a {
	font-size: 20px;
}
.row .row-col {
	float: none;
	width: auto;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.col-300 .adbox { display: none; }
.media-blocks { 
	border: none; 
	padding: 0px;
}
.rank-list {
	.rank-number {
		background: url(../img/ranknumber_bg.png) no-repeat;
		font-size: 13px;
		span {
			position: relative;
			top: 2px;
		}
	}
	li {
		&:active, &:hover { background: #eee; }
		a {
			font-size: 16px;
			line-height: 30px;
		}
	}
}
.article {
	img { width: 100%; height: auto; }
}
.adbox-inMain-300 {
	text-align: center;
	img {
		text-align: center;
		margin: 0 auto;
		float: none;
		display: block;
		&:first-of-type { 
			margin-left: 0px;
			margin-right: 0px; 
			margin: 0 auto;
			margin-bottom: 10px;
		}
	}
}

}