@media screen and (min-width:769px) {

.hidden-big { display: none; }

}

@media screen and (max-width:768px) {

.hidden-md { display: none; }
.wrapper {
	width: 100%;
	overflow: hidden;
}

.row .row-col {
	float: none;
	width: auto;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.media-blocks { 
	border: none; 
	padding: 0px;
}
.rank-list {
	.rank-number {
		background: url(../img/ranknumber_bg.png) no-repeat;
		// width: 17px; height: 16px;
		// position: relative;
		// bottom: 4px;
		// margin-right: 4px;
		font-size: 13px;
		span {
			position: relative;
			top: 2px;
		}
	}
	li {
		&:active, &:hover { background: #eee; }
		a {
			font-size: 16px;
			line-height: 30px;
		}
	}
}
.article {
	img { width: 100%; height: auto; }
}

}