@media screen and (max-width: 561px) {


.hidden-sm { display: none; }
.media-blocks {
	li {
		width: 100%;
	}
	.adbox { display: none; }
}
.article {
	margin: 5px;
}
.article {
	h2 { font-size: 20px; }
}

.btn-large {
	line-height:45px;
	border-radius: 5px;
	font-size: 16px;
	display: block;
	
}

}

@media screen and (max-width: 381px) {

.article-head .fbbox {
	float: none;
	margin-top: 10px;
	top: 0px;
	width: 280px;
}
.adbox-inMain-300 {
	img {
		width: 100%;
	}
}

}